@import "./../../../styles/variables";

#container--screen {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include border-radius(22px);

  &.white {
    background-color: $colorWhite;
  }

  .form--container {
    width: 90%;
  }
}