.remainder {
  background-color: #5E54AC;
  padding: 10px;
  width: 85%;
  border-radius: 21px;
  display: flex;
  justify-content: space-between;

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--title {
      font-family: Arial;
      font-weight: bold;
      color: #ffffff;
      padding: 0.1em;
      font-size: 14px;
      margin-left: 5px;
    }
    
    &--description {
      display: flex;
    
      .description {
        margin: auto 6px;
    
        &--title {
          font-size: 11px;
          color: #ffffff;
          margin-bottom: 0.5em;
        }
    
        &--subtitle {
          font-size: 11px;
          color: #ffffff;
        }
      }
    }
  }

  &__preview {
    display: flex;
  
    img {
      border-radius: 20px;
      width: 70px;
      height: 70px;
    }
  }
}

.icon {
  margin: 0.2em;

  img {
    width: 33px;
    height: 33px;
  }
}